<style>
    @media (1297px <=width <=1366px) {
        .comp_container {
            height: 725px;
        }
    }
</style>

<div class="col-md-12 d-flex flex-column align-item-center">
    <div id="showMsg"></div>
    <h3 class="text-center heading m-3">Books In WatchList</h3>
    <%if(result[0].length==0){%>
        <div class="container">
            <h2 class=" text-center text-danger">No data added in watchlist</h2>
        </div>
        <%}else{ if(result[0].length<=6){%>
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th scope="col">Sr No.</th>
                        <th scope="col">Book Image</th>
                        <th scope="col">Book Name</th>
                        <th scope="col">Book Author</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <%for(let i=0; i<result[0].length; i++){%>
                        <tr>
                            <th scope="row">
                                <%=i+1%>
                            </th>
                            <td><img height="40px" width="40px" src="./<%=result[0][i].book_img%>" /></td>
                            <td>
                                <%=result[0][i].book_title%>
                            </td>
                            <td>
                                <%=result[0][i].author_name%>
                            </td>
                            <td>
                                <p onclick="deleteFromFav('<%=result[0][i].watchlist_id%>')"
                                    class=" ubtn text-center text-light">
                                    Delete</p>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
            <%} else{%>
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">Sr No.</th>
                            <th scope="col">Book Image</th>
                            <th scope="col">
                                <div class="d-flex flex-row align-items-center">
                                    <div>Book Name</div>
                                    <div id="book_title" class="d-flex flex-column">
                                        <% if(result[1][0].order=='asc' && result[1][0].field=="book_title" ){%>
                                            <img id="sortwatchup" src="./userProfileScript/icons/arrow_up_green.svg" />
                                            <%}else{%>
                                                <a href="/watchlist?order=asc&field=book_title"><img
                                                        src="./userProfileScript/icons/arrow_up.svg" /></a>
                                                <%}%>
                                                    <% if(result[1][0].order=='desc' && result[1][0].field=="book_title"
                                                        ){%>
                                                        <img id="sortwatchdown"
                                                            src="./userProfileScript/icons/arrow_down_green.svg" />
                                                        <%}else{%>
                                                            <a href="/watchlist?order=desc&field=book_title"><img
                                                                    src="./userProfileScript/icons/arrow_down.svg" /></a>
                                                            <%}%>

                                    </div>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="d-flex flex-row align-items-center">
                                    <div>Book Author</div>
                                    <div class="d-flex flex-column" id="author_name">
                                        <% if(result[1][0].order=='asc' && result[1][0].field=="author_name" ){%>
                                            <img id="sortwatchup" src="./userProfileScript/icons/arrow_up_green.svg" />
                                            <%}else{%>
                                                <a href="/watchlist?order=asc&field=author_name"><img
                                                        src="./userProfileScript/icons/arrow_up.svg" /></a>
                                                <%}%>
                                                    <% if(result[1][0].order=='desc' &&
                                                        result[1][0].field=="author_name" ){%>
                                                        <img id="sortwatchdown"
                                                            src="./userProfileScript/icons/arrow_down_green.svg" />
                                                        <%}else{%>
                                                            <a href="/watchlist?order=desc&field=author_name"><img
                                                                    src="./userProfileScript/icons/arrow_down.svg" /></a>
                                                            <%}%>
                                    </div>
                                </div>
                            </th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="watchlist">
                        <% for(let i=0; i<6; i++){%>
                            <tr>
                                <th scope="row">
                                    <%= i+1 %>
                                </th>
                                <td><img height="40px" width="40px" id="<%=result[0][i].book_img%>"
                                        src='<%=result[0][i].book_img%>' /></td>
                                <td>
                                    <%=result[0][i].book_title%>
                                </td>
                                <td>
                                    <%=result[0][i].author_name%>
                                </td>
                                <td>
                                    <p onclick="deleteFromFav('<%=result[0][i].watchlist_id%>')"
                                        class=" ubtn text-center text-light">
                                        Delete</p>
                                </td>
                            </tr>
                            <%}%>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example" class="float-right">
                    <ul class="pagination">
                        <li class="page-item">
                            <p aria-label="Previous" onclick="displayFirstWatch('<%=result[0][0].reader_id%>')"
                                class="page-link">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </p>
                        </li>
                        <li class="page-item">
                            <p onclick="prevWatch('<%=result[0][0].reader_id%>')" class="page-link">
                                < </p>
                        </li>
                        <li class="page-item">
                            <p id="pageNo" class="page-link">1</p>
                        </li>
                        <li class="page-item">
                            <p onclick="nextWatch('<%=result[0][0].reader_id%>')" class="page-link">></p>
                        </li>
                        <li class="page-item">
                            <p onclick="displayLastWatch('<%=result[0][0].reader_id%>')" aria-label="Next"
                                class="page-link">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </p>
                        </li>
                    </ul>
                </nav>
                <%}}%>
</div>